.gpt3__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 6rem;
}
.gpt3__navbar-links {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.gpt3__navbar-links_logo {
  margin-right: 2rem;
}

.gpt3__navbar-links_logo img {
  width: 62.56px;
  height: 16.02px;
}

.gpt3__navbar-links_container {
  display: flex;
  flex-direction: row;
}

.gpt3__navbar-sign {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

@mixin styleGPT3_links_sign_menu  {
  color: #fff;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  text-transform: capitalize;
  margin: 0 1rem;
  cursor: pointer;
}

.gpt3__navbar-links_container p{
  @include styleGPT3_links_sign_menu()
}
.gpt3__navbar-sign p {
  @include styleGPT3_links_sign_menu()

}
.gpt3__navbar-menu_container p {
  @include styleGPT3_links_sign_menu()
}


@mixin styleBtn_sign_menu {
  padding: 0.5rem 1rem;
  color: #fff;
  left: 1153px;
  top: 55px;
  background: #ff4820;
  border-radius: 5px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  border: 0;
  outline: none;
  cursor: pointer;
}


.gpt3__navbar-sign button {
  @include styleBtn_sign_menu()
}

.gpt3__navbar-menu_container button {
  @include styleBtn_sign_menu()
}

.gpt3__navbar-menu {
  margin-left: 1rem;
  display: none;
  position: relative;
}

.gpt3__navbar-menu svg {
  cursor: pointer;
}

.gpt3__navbar-menu_container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  text-align: end;
  background: var(--color-footer);
  padding: 2rem;
  position: absolute;
  top: 40px;
  right: 0;
  margin-top: 1rem;
  max-width: 210px;
  border-radius: 5px;
  box-shadow: 0 0 5 rgba(0, 0, 0, 0.2);
}

.gpt3__navbar-menu_container p {

}